{% load i18n %}
{% load compress %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta content="{% block description %}{% endblock %}" name="description">
    <meta content="Agnieszka Fuksiewicz - a.fuks@o2.pl, Karol Fuksiewicz - kfuks2@o2.pl" name="author">
    <link href="{{ STATIC_URL }}favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    {% compress css %}
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/common.less">
<!--     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/stylesheet.css"> -->
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie-style.css">
    <![endif]-->
    {% block css %}
    {% endblock %}
    {% endcompress %}

    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.21.custom.min.js"></script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37364458-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <!--form-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/placeholder.js"></script>
    <!--form-->
    <!--zoom-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/cloud-zoom.1.0.2.js"></script>
    <!--zoom-->
    <!--booklet-->
    <script src="{{ STATIC_URL }}js/jquery.easing.1.3.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.booklet.1.4.0.js" type="text/javascript"></script>
    <!--booklet-->

    <script type="text/javascript">
        var current_language = "{{ LANGUAGE_CODE }}";
    </script>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block script %}
    {% endblock %}
    {% endcompress %}

    <title>{% block title %}{% trans 'Katy Oriflame' %}{% endblock %}</title>
</head>

<body class="{% block body_class %}not-front{% endblock %}">
{% block form %}{% endblock %}

<div id="body-wrapper">
    <div id="wrap">
        <!--[if lt IE 9]>
            <div class="ielt8">
                {% trans 'Be aware that this website can display wrongly!' %}<br /><br />
                <span>{% trans 'Please update Your browser!' %}</span><br /><br />
                {% trans 'The browser you are using is out of date. It has known security flaws and disadvantages and limited feature set.' %}<br /><br />
                <div class="update_browsers">
                    <a href="http://www.mozilla.org/firefox/" class="firefox" title="Firefox" rel="nofollow">Firefox</a>
                    <a href="http://www.google.com/Chrome" class="chrome" title="Chrome" rel="nofollow">Chrome</a>
                    <a href="http://www.opera.com/" class="opera" title="Opera" rel="nofollow">Opera</a>
                    <a href="http://windows.microsoft.com/ie" class="ie" title="IE" rel="nofollow">IE</a>
                    <div class="clear"></div>
                </div>
            </div>
        <!--<![endif]-->

        <header class="clearfix">
            <h1 class="logo"><a href="/">{% trans 'Katy Oriflame' %}</a></h1>
            <nav>
                <ul class="group" id="menu">
                    <li>
                        <a href="{% url "homepage" %}" title="{% trans 'Homepage' %}" {% if active_menu == "home" %}class="active"{% endif %}>{% trans 'Homepage' %}</a>
                    </li>
                    <li>
                        <a href="{% url "become_consultant" %}" title="{% trans 'Become a consultant' %}" {% if active_menu == "become_consultant" %}class="active"{% endif %}>{% trans 'Become a consultant' %}</a>
                    </li>
                    <li>
                        <a href="{% url "product_list" %}" title="{% trans 'Opinions' %}" {% if active_menu == "product_list" %}class="active"{% endif %}>{% trans 'Opinions' %}</a>
                    </li>
                    <li>
                        <a href="{% url "contact" %}" title="{% trans 'Contact' %}" {% if active_menu == "contact" %}class="active"{% endif %}>{% trans 'Contact' %}</a>
                    </li>
                </ul>
            </nav>
        </header>

        {% block content %}{% endblock %}

        <footer>
            <div class="footer-wrap">
                <div class="credit">
                    <ul>
                        <li>
                            Copyright © katy 2012. All rights reserved, created by:
                            <a href="http://agnieszka.fuksiewicz.eu" target="_blank" title="Agnieszka">Agnieszka</a> &amp;
                            <a href="http://karol.fuksiewicz.eu" target="_blank" title="Karol">Karol</a> Fuksiewicz
                        </li>
                        <li class="italic">
                            {% trans "This site belongs to an independent Oriflame consultant. Oriflame's official site in England is available at" %}
                            <a href="http://www.oriflame.co.uk" title="Oriflame" target="_blank">www.oriflame.co.uk</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>
