{% extends "base.html" %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/become_consultant.less">
{% endblock %}

{% block content %}
<section id="content">
    <h2 class="head">{% trans "Become a consultant" %}</h2>

    <div class="tekst">
        <article>
            {% trans 'You can join the club Oriflame today - simply fill out the registration form below, and you can enjoy membership in ORIFLAME :)' %} <br />
            <span class="important">
                <a href="http://oriflame.co.uk/recruits/online-registration.jhtml?sponsor=3213261" target="_blank">
                    {% trans 'Become a consultant today!' %}
                </a>
            </span>
        </article>

        <article>
            {% blocktrans %}
            As a member of Club Consultants have the opportunity to choose forms of cooperation with Oriflame, you become your own boss. You work as much as you want, when you want and with who you want. Your earnings depend on your commitment and the amount of time you want to spend on Oriflame. No one takes a decision you plan your day. The flexible nature of the work makes it among our consultants can meet students, full-time employees, students, pensioners and mothers who care for children. Among the more than hundred-thousandth of a group of consultants are also men who have successfully developing his career in Oriflame. For new Consultants who have just joined Oriflame we have prepared special programs that start at the Club Oriflame is even easier.
            {% endblocktrans %}
        </article>

        <article>
            <span class="black_important">
            {% blocktrans %}
                Are you ready to make that change?  Try Oriflame products...<br />
                or even better...<br />
                <span class="important">
                    Join Oriflame today and claim your free gifts from your personal Welcome Programme!
                </span>
            {% endblocktrans %}
            </span>
        </article>

      <!--  <div class="source">{% trans "source" %}: www.oriflame.pl</div>-->
    </div>
</section>
{% endblock %}
