{% extends "base.html" %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/contact.less">
{% endblock %}

{% block content %}
<section id="content">
    <h2 class="head">{% trans "Contact" %}</h2>
    <div class="tekst">
        <article class="contact_text">
            <figure class="{% trans 'bcart_en' %}">&nbsp;</figure>
        </article>
    </div>
</section>
{% endblock %}
