@font-face {
    font-family: 'renaissanceregular';
    src: url('font/renaissance-webfont.eot');
    src: url('font/renaissance-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/renaissance-webfont.woff') format('woff'),
         url('font/renaissance-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

a {
    text-decoration: none;
    color: #000000;

    &:active, &:hover, &.active {
        text-decoration: underline;
    }
}

h1, h2 {
    margin: 0;
    font-weight: 300;
}

input[type="email"], input[type="text"] {
    margin: 2px 0;
    border: 1px solid #CCCCCC;
    width: 100px;
    border-radius: 5px;
    width: 170px;
    height: 25px;
    border: 1px solid #452059;
    padding: 0 5px;
}

textarea {
    width: 210px;
    min-height: 150px;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 5px;
}

.clearfix:after {
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0px;
    line-height: 0px;
    content: ".";
    height: 0px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    font-weight: 300;

    &.front {
        background: url("images/content_bg.png") repeat-x scroll 0 425px #643182;

        #body-wrapper {
            background: url("images/body_bg1.png") no-repeat scroll center 0 transparent;
        }
    }

    &.not-front {
        background: #643182;

        #body-wrapper{
            background: url("images/body_nf.jpg") no-repeat scroll center 0 transparent;
        }

        #content {
            min-height: 330px;
            width: 960px;
            margin: 0 auto;

            h2.head {
                float: none;
                color: #f7ecf4;
                font-size: 16px;
                text-shadow: 1px 1px 1px #000000;
                font-family: 'renaissanceregular';
                font-size: 48px;
                margin: 17px 20px;
            }

            .tekst {
                background: rgba(255,255,255,0.5);
                padding: 0 15px;
                margin: 31px 0;
                border-radius: 10px;
                border: 1px solid #704288;
                box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
                text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
                text-align: center;

                article {
                    margin: 10px 0;
                }
            }
        }
    }
}

#wrap {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.logo{
    background: url("images/logo.png") no-repeat scroll center top transparent;
    float: right;
    height: 154px;
    margin: 0 60px 0 0;
    width: 494px;

    a {
        display: block;
        width: 494px;
        height: 154px;
        text-indent: -99999px;
    }
}

nav {
    float: left;
    font-size: 14px;
    margin: 43px 0 0 130px;
    text-shadow: 1px 1px 2px #FFFFFF;
    text-transform: uppercase;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            display: inline;
            padding: 0 5px;
        }
    }
}

#content {
    padding: 10px 0 0 0;

    a, a:active {
        text-decoration: underline;
        color: #000000;
    }
}

footer {
    background: url("images/footer.png") no-repeat scroll 73% 3px transparent;
    color: #F7ECF4;
    font-size: 11px;
    height: 116px;
    margin: 11px 0 0;
    padding: 16px 0 0;
    text-align: center;

    .footer-wrap {
        width: 536px;
        margin: 0 auto;
    }

    a, a:active {
        color: #F7ECF4;
        text-decoration: underline;
    }

    ul, ul li {
        margin: 0;
        padding: 0;
        list-style-type: none;

        &.italic {
            font-style: oblique;
        }
    }
}

input[type="submit"]  {
    width: auto;
    padding: 9px 15px;
    background: #653183;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid #452059;
    border-radius: 5px;
    margin: 2px 0;

    &:hover {
        border: 1px solid #ffffff;
    }
}


.ielt8{
    text-align: center;
    background: url("images/warning.gif") no-repeat center 10px #EED9C0;
    padding: 80px 10px 10px 10px;
    font-weight: 600;
    border: 3px solid #ffffff;
    margin: 20px 0;

    span {
        font-size: 150%;
    }

    .update_browsers {
        margin: 0 auto;
        width: 345px;

        a {
            width: 64px;
            height: 64px;
            display: block;
            text-indent: -99999px;
            float: left;
            padding: 0 10px;

            &.firefox{
                background: url("images/firefox.gif") no-repeat center center #EED9C0;
            }

            &.chrome{
                background: url("images/chrome.gif") no-repeat center center #EED9C0;
            }

            &.opera{
                background: url("images/opera.png") no-repeat center center #EED9C0;
            }

            &.ie{
                background: url("images/ie.gif") no-repeat center center #EED9C0;
            }
        }
    }
}
