.contact_text {
    text-align: center;
    font-size: 15px;
    font-weight: bold;

    p {
        margin: 4px 0;
    }

    .bcart {
        background: url('images/bcart.jpg') no-repeat;
        margin: 0 auto;
        width: 635px;
        height: 365px;
        border: 1px solid #704288;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    }

    .bcart_en {
        background: url('images/bcart.jpg') no-repeat;
        margin: 0 auto;
        width: 635px;
        height: 365px;
        border: 1px solid #704288;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    }
}
