#body-wrapper{
	background: url("images/body_bg1.jpg") no-repeat scroll center 300px transparent;
}

.not-front #body-wrapper{
	background: url("images/body_nf.jpg") no-repeat scroll center 300px transparent;
}