#page {
    height: 299px;
    margin: 0 auto;
    padding: 0 50px 0 0;
}

.page-content {
    color: #E3D7EE;
    float: right;
    margin: 13px 0 0;
    text-align: justify;
    width: 540px;

    .welcome {
        font-family: 'renaissanceregular';
        font-size: 28pt;
        margin: 5px 0;
        padding: 20px 0 16px 10px;
        text-shadow: 3px 7px 3px rgb(42, 42, 42);
    }

    .welcome1 {
        margin: 5px 0 0 0;
        font-family: 'renaissanceregular';
        font-size: 25pt;
        padding: 20px 15px 10px 8px;
        text-shadow: 3px 7px 3px rgb(42, 42, 42);
        text-align: right;
    }
}

#form { /*z formularzem*/
    background: rgba(0, 0, 0, 0.5);
    width: 240px;
    padding: 3px;
    position: fixed;
    left:-240px;
    top: 50px;
    z-index: 10000;
    text-align: center;
    color: #ffffff;
    border-radius: 0 0 10px 0;

    span {
        margin: 6px 0;
        display: block;
    }

    .open, .otworz {
        text-indent: -99999px;
        cursor: pointer;
        display: block;
        height: 223px;
        left: 246px;
        outline: medium none;
        position: absolute;
        top: -1px;
        width: 40px;

        &:hover {
            text-decoration: none;
        }
    }

    .otworz {
        background: url("images/zamowienie.png") no-repeat;
    }

    .open {
        background: url("images/zamowienie_en.png") no-repeat;
    }

    .form-container a {
        color: #ffffff;
        text-decoration: underline;
    }
}

#content h2 {
    float: left;
    color: #f7ecf4;
    font-size: 16px;
    text-shadow: 1px 1px 1px #000000;
    height: 40px;
    line-height: 40px;
    padding: 25px 0 0 68px;

    span.num {
        font-family: 'renaissanceregular';
        font-size: 48px;
    }

    span.date {
        font-size: 12px;
    }
}

#book {
    background: url("images/book.png") no-repeat scroll 18px 1px transparent;
    padding: 21px 0 40px;
}

#mybook {
    background: url("images/tekst.jpg");

    &_en {
        background: url("images/tekst_en.jpg");
    }
}

#mybook img,
#mybook_en img {
    width: 482px;
    height: 446px;
}
