div.search-pagi-box {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #704288;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 31px 0;
    padding: 8px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    height: 50px;
    line-height: 50px;
    font-size: 110%;

    div.search {
        float: left;
        width: 716px;

        label {
            margin: 0 10px;
        }

        input.search {
            background-color: #FFFFFF;
            border: 1px solid #704288;
            border-radius: 5px 5px 5px 5px;
            height: 25px;
            width: 194px;
            padding: 0 5px;

            &:focus {
                border-color: rgba(100, 49, 130, 0.8);
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(100, 49, 130, 0.6);
                outline: 0 none;
            }
        }
    }

    .pagination {
        width: 223px;
        float: right;
        text-align: center;

        span.prev-na,
        span.next,
        span.prev {
            font-weight: bold;
            font-size: 120%;

            a {
                text-decoration: none !important;
            }
        }
    }
}

div.pagi-single {
    .pagination {
        background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
        border: 1px solid #704288;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        padding: 8px;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
        height: 50px;
        line-height: 50px;
        float: right;
        width: 300px;
    }
}

.item-previev {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 0 11px;
    padding: 10px 0;

    &:last-child {
        border-bottom: none;
    }

    figure.gallery-item-left {
        float: left;
        margin: 0;
        text-align: center;
        width: 260px;

        img{
            border: none;
            max-width: 260px;
            max-height: 260px;
        }
    }

    article.gallery-float-text {
        float: right;
        width: 644px;
        text-align: justify;

        .important1 {
            font-weight: bold;
            color: #B71351;
            font-size: 120%;
            margin: 0 0 5px 0;
        }

        .add-opinion {
            margin: 10px 0;
            padding: 0;

            li {
                display: inline;
                border-right: 1px solid rgba(0, 0, 0, 0.6);
                padding: 0 5px 0 0;

                &:last-child {
                    border-right: none;
                }
            }
        }

        .autor {
            font-style: oblique;
            text-align: right;
            font-size: 90%;
            padding-bottom: 10px;
        }
    }
}

div.add_opinion {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(80, 29, 110, 0.6);
    width: 100%;
    height: 100%;

    .form_content {
        background: rgba(0,0,0, 0.5);
        border: 1px solid #704288;
        border-radius: 5px;
        width: 300px;
        position: fixed;
        top: 20%;
        left: 20%;
        padding: 20px;
    }
}
