{% load i18n %}

{% for product in products %}
<div class="item-previev clearfix">
    <figure class="gallery-item-left">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" />
    </figure>

    <article class="gallery-float-text">
        <span class="important1">{{ product.name }} ({{ product.code }})</span>

        {{ product.get_description }}

        <ul class="add-opinion">
            <li><a href="{% url "product_details" pk=product.id slug=product.slug %}" title="{{ product.name }}">{% trans "View opinions about product" %}</a></li>
        </ul>

    </article>
</div>
{% empty %}
<div class="item-previev clearfix">
    <article class="gallery-float-text">
        {% trans 'Unfortunatly, nothing found' %}
    </article>
</div>

{% endfor %}
