{% load i18n %}

{% if pager.has_other_pages %}
<div class="pagination">
    {% if pager.has_previous %}
        <span class="prev">
            <a href="?page={{ pager.previous_page_number }}" title="{% trans "Previous page" %}">
                &laquo;
            </a>
        </span>
    {% else %}
        <span class="prev-na">
            &laquo;
        </span>
    {% endif %}

    <span class="page_of">
        {% blocktrans with current_page=pager.number max_page=pager.paginator.num_pages %}
            Page {{ current_page }} of {{ max_page }}
        {% endblocktrans %}
    </span>

    {% if pager.has_next %}
        <span class="next">
            <a href="?page={{ pager.next_page_number }}" title="{% trans "Next page" %}">
                &raquo;
            </a>
        </span>
    {% else %}
        <span class="next-na">
            &raquo;
        </span>
    {% endif %}
</div>
{% endif %}
