{% extends "base.html" %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/opinions.less">
{% endblock %}


{% block script %}
<script type="text/javascript">
$(document).ready(function() {
    var wraped = false;

    function set_lefttop() {
        $(".form_content").css({
            'left': ($(window).innerWidth() - $('.form_content').outerWidth(true))/2,
            'top': ($(window).innerHeight() - $('.form_content').outerHeight(true))/2,
        });
    }

    $(".add_comment").click(function() {
        if(!wraped) {
            $('div.add_opinion').wrapInner('<form action="" method="post"></form>');
            wraped = true;
        }
        $('div.add_opinion').show();

        set_lefttop();

        $(window).resize(function () { set_lefttop(); });

        return false;
    });

    $("div.add_opinion").click(function() {
        $('div.add_opinion').hide();
    });

    $(".form_content").click(function(event) {
        event.stopPropagation();
    });
});
</script>
{% endblock %}

{% block content %}
<section id="content">
    <h2 class="head">{% trans "Opinions about product" %}</h2>

    <div class="add_opinion">
        <div class="form_content">
            {% csrf_token %}
            <p class="name">
                <input type="text" name="author" id="name" placeholder="{% trans "Author" %}" required="required"/>
            </p>
            <p class="email">
                <input type="email" name="mail" id="email" placeholder="{% trans "E-mail" %}"/>
            </p>
            <p class="text">
                <textarea name="opinion" cols="40" rows="5" placeholder="{% trans "Opinion" %}" required="required"></textarea>
            </p>

            <input type="submit" value="{% trans "Send" %}" />
        </div>
    </div>

    <div class="tekst">
        <div class="item-previev clearfix">
            <figure class="gallery-item-left">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" />
            </figure>

            <article class="gallery-float-text">
                <span class="important1">{{ product.name }}</span>

                {{ product.get_description }}

                <ul class="add-opinion">
                    <li><a class="add_comment" href="#" rel="nofollow">{% trans "Add opinion" %}</a></li>
                    <li><a href="{% url "product_list" %}" title="{% trans "Products" %}">{% trans "Back" %}</a></li>
                </ul>

                <ul class="comment_list">
                {% for opinion in opinion_list %}
                    <li>
                        {{ opinion.opinion|linebreaksbr }}

                        <div class="autor">{{ opinion.author }}, {{ opinion.date }}</div>
                    </li>
                {% endfor %}
                </ul>

            </article>
        </div>
    </div>
</section>
{% endblock %}
