{% extends "base.html" %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/opinions.less">
{% endblock %}


{% block content %}
<section id="content" class="clearfix">
    <h2 class="head">{% trans "Products" %}</h2>

	<div class="search-pagi-box clearfix">
		<div class="search">
		   <label for="search">{% trans 'Enter product name which you are looking for, or its code' %}:  </label><input type="text" class="search" name="search" id="search" placeholder="{% trans 'Search' %}" />
		</div>

		{% include 'pagination.html' with pager=page_obj %}
	</div>

    <div class="tekst">
        {% include '_list.html' with products=products %}
    </div>

	<div class="pagi-single clearfix">
		{% include 'pagination.html' with pager=page_obj %}
	</div>
</section>
{% endblock %}
