.thumbnail {
    width: 100px;
    height: 100px;
}

.overlay {
    background: rgba(0, 0, 0, 0.75);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}
