.ajax_upload {
    width: 100%;
}

.ajax_upload td {
    padding: 0;
    margin: 0;
}

.ajax_add_button {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    font-weight: bold;

    background: #0C0;
    border-radius: 5px;
}

.ajax_add_button input {
    opacity: 0;
    cursor: pointer;
    transform: translate(-300px, 0px) scale(4);
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 0;
    right: 0;
}

.ajax_upload_button {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;

    background: #ed8e00;
    border-radius: 5px;
}

.ajax_reverse_button {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;

    color: #FFF;
    background: #417690;
    border-radius: 5px;
}

.ajax_az_button {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;

    color: #FFF;
    background: #417690;
    border-radius: 5px;
}

.ajax_za_button {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;

    color: #FFF;
    background: #417690;
    border-radius: 5px;
}

.ajax_file_name {
    display: block;
}

.field-image {
    text-align: center;
}

.ajax_thumb {
    width: 150px;
    height: 150px;
    text-align: center;
}

#page_set-group h3 .inline_label {
    color: #D06D26;
}


#page_set-group .new-form,
#page_set-group .old-form {
    display: inline-block;
    width: 220px;
    vertical-align: top;
    margin: 10px 0px 0px 8px;
    border: 1px solid #ccc;
}

.inline-related h3 {
    display: block;
    width: 210px;
}

.inline-group {
    padding: 0 0 10px 0;
}

.imagePreview {
    position: absolute;
    width: 400px;
    height: 400px;
}

.imagePreview img {
    width: 400px;
    height: 400px;
}

.sortable-placeholder {
    display: inline-block;
    width: 220px;
    vertical-align: top;
    margin: 10px 0px 0px 8px;
    border: 1px solid #ccc;
    background: #ddd;
}

.uploading_status {
    background: #FFFFFF;
    border-radius: 5px;
    height: 230px;
    text-align: center;
    width: 600px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.upload_again {
    display: none;
    margin: 0 auto;
}

.progress_new_text,
.progress_old_text {
    display: block;
}

.progress_new_bar,
.progress_old_bar {
    background: #BEBEBE;
    display: block;
    height: 30px;
    margin: 20px auto;
    width: 500px;
}

.progress_new_bar .upload_new_counter,
.progress_old_bar .upload_old_counter {
    background: #00CC00;
    display: block;
    height: 30px;
    width: 0%;
}

.uploading_finished {
    color: #CC0000;
    display: none;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.delete input {
    margin: -1px 5px 0 0;
    padding: 0;
    vertical-align: top;
}

.ajax_unselect_all,
.ajax_select_all,
.ajax_delete_selected {
    float: right;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;

    color: #FFF;
    background: #417690;
    border-radius: 5px;
}

.ajax_delete_selected {
    background: #CC3434;
}
