form ul.parent {
    margin: 0 0 0 100px;
    border: 1px solid #999;
    padding: 0px;
    width: 615px;
}

ul.parent > li > .option_header {
    background: #CCCCFF;
    display: block;
    padding: 5px;
    font-weight: bold;
}

.clearfix:after {
    content: ".";
    display: block;
    visibility: hidden;
    font-size: 0px;
    line-height: 0px;
    clear: both;
}

ul.parent li {
    list-style: none;
}

span.expand {
    background: #CC0000;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    padding: 3px 5px;
    float: right;
    outline: none;
}

form ul.children {
    margin: 0px;
    padding: 0px;
    clear: both;
    overflow: hidden;
    display: none;
}

ul.children li {
    margin: 0px;
    padding: 0px;
}

ul.children label {
    margin: 2px 3px 0 30px;
    border: 1px solid #999;
    padding: 5px;
    display: block;
}

ul.parent, ul.children {
    vertical-align: middle;
}
