.action-checkbox {
    width: 20px;
}

.position_container {
    width: 55px;
}

.drop_zone {
    height: 36px;
    min-height: 36px;
    width: 100%;
}

.row1 .drop_zone,
.row2 .drop_zone {
    border: 1px dotted #003366;
}

.subcategory_container,
.subcategory_container th {
    width: 100%;
}

.subcategory_container .subcategory_container {
    display: none;
}

.subcategory_container .row1 {
    background: #efefef;
}

.subcategory_container .row2 {
    background: #f9f9f9;
}