{% extends "base.html" %}
{% load i18n %}

{% block script %}
<script type="text/javascript">
$(document).ready(function() {
    //single book
    $('#{% trans "mybook_en" %}').booklet({
        width:  963,
        height: 446,
        easing:  null,
        easeIn:  null,
        easeOut: null,
        pagePadding: 0,
        closed: true,
        keyboard: true,
        arrows: true,
        nextControlText: "{% trans 'Next' %}",
        previousControlText: "{% trans 'Previous' %}",
        overlays: false,
        manual: false,
        pageNumbers: false,
        menu: '#custom-menu',
        pageSelector: true,
        closedFrontTitle: '',
        closedBackTitle: ''
    });

    var wraped = false;
    $(".zamknij").click(function() {
        if(!wraped) {
            $('div.form-container').wrapInner('<form action="" method="post"></form>');
            wraped = true;
        }
    });
});
</script>
{% endblock %}

{% block body_class %}front{% endblock %}

{% block form %}
<div id="form">
    <a class="{% trans 'open' %} zamknij" title="{% trans 'Open/Close' %}">{% trans 'Want to place an order?' %}</a>

    <div class="form-container">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <span>1. {% trans 'Enter your contact details' %}:</span>
            {{ form.name.errors }}
            <input id="imie" type="text" required="required" value="" placeholder="{% trans 'First name' %}" name="name"><br />
            {{ form.surename.errors }}
            <input id="nazwisko" type="text" required="required" value="" placeholder="{% trans 'Last name' %}" name="surename"><br />
            {{ form.phone.errors }}
            <input id="tel" type="text" required="required" value="" placeholder="{% trans 'Phone' %}" name="phone"><br />
            {{ form.mail.errors }}
            <input id="email" type="email" value="" placeholder="{% trans 'E-Mail' %}" name="mail"><br />
            <span>2. {% trans 'Enter product code you wish to order and quantity' %}</span>
            {{ form.message.errors }}
            <textarea required="required" placeholder="{% trans 'Message' %}" name="message"></textarea>
            <span>3. {% trans 'Click "Send"' %}:</span>
            <input type="submit" value="{% trans 'Send' %}" name="submit" />
            <span>4. {% trans 'Receive an e-mail with further information' %}</span>
            <span>5. {% trans 'Pick up beauty products at' %}:<br />"Clippers" 59 London Road <br />Bognor Regis, PO21 1DG</span>

        <div style="clear: both;"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section id="page">
    <div class="page-content">
    <h2 class="welcome">{% trans 'Why I chose Oriflame beauty products?' %}</h2>
        <article>
            {% blocktrans %}
            Oriflame offers something different - cosmetics derived from herbs and fruits. The wisdom of nature is the inspiration of cosmetics Oriflame. Carefully selected plant extracts, combined into a harmonious whole, provide products delicacy, yet highly effective. All Oriflame cosmetics are dermatologically tested in a clinical setting. Cosmetic packaging can be recycled, making them environmentally friendly. The idea of natural beauty nurtured by natural, perfectly clean Oriflame Cosmetics is today the highest quality recognition of tens of millions of men and women in the world.
            {% endblocktrans %}
            <div class="welcome1">
                {% trans 'Try Oriflame today...' %}
            </div>
        </article>
    </div>

    <div class="clear"></div>
</section>

<section id="content">
    <h2>{% trans 'Catalogue' %} <span class="num">1</span>&nbsp;&nbsp;<span class="date">(22 Dec 2012 - 18 Jan 2013)</span></h2>
    <div id="custom-menu" class="b-menu"></div>

    <div class="clear"></div>

    <div id="book">
        <div id="{% trans 'mybook_en' %}">
            <div>
                <a href='{{ STATIC_URL }}images/katalog/68b.jpg' class = 'cloud-zoom' id='zoom1'
                    rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/68b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/67a.jpg' class = 'cloud-zoom' id='zoom1'
                    rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/67a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/67b.jpg' class = 'cloud-zoom' id='zoom1'
                    rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/67b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/66a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/66a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/66b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/66b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/65a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/65a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/65b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/65b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/64a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/64a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/64b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/64b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/63a.jpg' class = 'cloud-zoom' id='zoom1'
                    rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/63a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/63b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                <img src="{{ STATIC_URL }}images/katalog/63b.jpg" alt='' title="Optional title display" />
            </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/62a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/62a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/62b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/62b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/61a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/61a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/61b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/61b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/60a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/60a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/60b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/60b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/59a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/59a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/59b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/59b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/58a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/58a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/58b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/58b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/57a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/57a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/57b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/57b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/56a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/56a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/56b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/56b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/55a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/55a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/55b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/55b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/54a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/54a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/54b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/54b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/53a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/53a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/53b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/53b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/52a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/52a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/52b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/52b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/51a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/51a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/51b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/51b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/50a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/50a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/50b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/50b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/49a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/49a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/49b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/49b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/48a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/48a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/48b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/48b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/47a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/47a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/47b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/47b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/46a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/46a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/46b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/46b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/45a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/45a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/45b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/45b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/44a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/44a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/44b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/44b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/43a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/43a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/43b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/43b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/42a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/42a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/42b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/42b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/41a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/41a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/41b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/41b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/40a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/40a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/40b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/40b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/39a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/39a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/39b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/39b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/38a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/38a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/38b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/38b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/37a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/37a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/37b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/37b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/36a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/36a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/36b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/36b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/35a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/35a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/35b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/35b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/34a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/34a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/34b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/34b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/33a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/33a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/33b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/33b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/32a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/32a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/32b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/32b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/31a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/31a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/31b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/31b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/30a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/30a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/30b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/30b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/29a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/29a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/29b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/29b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/28a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/28a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/28b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/28b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/27a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/27a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/27b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/27b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/26a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/26a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/26b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/26b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/25a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/25a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/25b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/25b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/24a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/24a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/24b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/24b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/23a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/23a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/23b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/23b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/22a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/22a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/22b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/22b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/21a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/21a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/21b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/21b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/20a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/20a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/20b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/20b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/19a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/19a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/19b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/19b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/18a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/18a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/18b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/18b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/17a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/17a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/17b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/17b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/16a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/16a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/16b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/16b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/15a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/15a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/15b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/15b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/14a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/14a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/14b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/14b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/13a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/13a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/13b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/13b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/12a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/12a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/12b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/12b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/11a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/11a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/11b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/11b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/10a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/10a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/10b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/10b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/9a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/9a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/9b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/9b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/8a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/8a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/8b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/8b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/7a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/7a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/7b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/7b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/6a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/6a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/6b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/6b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/5a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/5a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/5b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/5b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/4a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/4a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/4b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/4b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/3a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/3a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/3b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/3b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/2a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/2a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/2b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/2b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/1a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/1a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/1b.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/1b.jpg" alt='' title="Optional title display" />
                </a>
            </div>
            <div>
                <a href='{{ STATIC_URL }}images/katalog/68a.jpg' class = 'cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{{ STATIC_URL }}images/katalog/68a.jpg" alt='' title="Optional title display" />
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}