{% extends "base.html" %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/index.less">
    <!--zoom-->
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/cloud-zoom.css">
    <!--zoom-->
    <!--booklet-->
    <link href="{{ STATIC_URL }}css/jquery.booklet.1.4.0.css" type="text/css" rel="stylesheet" media="screen, projection, tv" />
    <!--booklet-->
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function() {
    //single book
    $('#{% trans "mybook_en" %}').booklet({
        width:  963,
        height: 446,
        easing:  null,
        easeIn:  null,
        easeOut: null,
        pagePadding: 0,
        closed: true,
        keyboard: true,
        arrows: true,
        nextControlText: "{% trans 'Next' %}",
        previousControlText: "{% trans 'Previous' %}",
        overlays: false,
        manual: false,
        pageNumbers: false,
        menu: '#custom-menu',
        pageSelector: true,
        closedFrontTitle: '',
        closedBackTitle: '',
        start: function(event, data) {
            var target_div = $('.book_page_container div:nth-child('+ (data.index + 1) +')');
            if( target_div.find('img').attr('src') == "" ) {
                var target_href = target_div.find('a');
                target_href.attr('href', target_href.attr('data-href'));
                target_div.find('img').attr('src', target_href.attr('data-href'));
                target_div.find('a').CloudZoom();
            }

            var target_div_next = target_div.next();
            if( target_div_next.find('img').attr('src') == "" ) {
                var target_href_next = target_div_next.find('a');
                target_href_next.attr('href', target_href_next.attr('data-href'));
                target_div_next.find('img').attr('src', target_href_next.attr('data-href'));
                target_div_next.find('a').CloudZoom();
            }
        }
    });

    var wraped = false;
    $(".zamknij").click(function() {
        if(!wraped) {
            $('div.form-container').wrapInner('<form action="" method="post"></form>');
            wraped = true;
        }
    });
});
</script>
{% endblock %}

{% block body_class %}front{% endblock %}

{% block form %}
<div id="form">
    <a class="{% trans 'open' %} zamknij" title="{% trans 'Open/Close' %}">{% trans 'Want to place an order?' %}</a>

    <div class="form-container">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <span>1. {% trans 'Enter your contact details' %}:</span>
            {{ form.name.errors }}
            <input id="imie" type="text" required="required" value="" placeholder="{% trans 'First name' %}" name="name"><br />
            {{ form.surename.errors }}
            <input id="nazwisko" type="text" required="required" value="" placeholder="{% trans 'Last name' %}" name="surename"><br />
            {{ form.phone.errors }}
            <input id="tel" type="text" required="required" value="" placeholder="{% trans 'Phone' %}" name="phone"><br />
            {{ form.mail.errors }}
            <input id="email" type="email" value="" placeholder="{% trans 'E-Mail' %}" name="mail"><br />
            <span>2. {% trans 'Enter product code you wish to order and quantity' %}</span>
            {{ form.message.errors }}
            <textarea required="required" placeholder="{% trans 'Message' %}" name="message"></textarea>
            <span>3. {% trans 'Click "Send"' %}:</span>
            <input type="submit" value="{% trans 'Send' %}" name="submit" />
            <span>4. {% trans 'Receive an e-mail with further information' %}</span>
            <span>5. {% trans 'Pick up beauty products at' %}:<br />"Clippers" 59 London Road <br />Bognor Regis, PO21 1DG</span>

        <div style="clear: both;"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section id="page" class="clearfix">
    <div class="page-content">
    <h2 class="welcome">{% trans 'Why I chose Oriflame beauty products?' %}</h2>
        <article>
            {% blocktrans %}
            Oriflame offers something different - cosmetics derived from herbs and fruits. The wisdom of nature is the inspiration of cosmetics Oriflame. Carefully selected plant extracts, combined into a harmonious whole, provide products delicacy, yet highly effective. All Oriflame cosmetics are dermatologically tested in a clinical setting. Cosmetic packaging can be recycled, making them environmentally friendly. The idea of natural beauty nurtured by natural, perfectly clean Oriflame Cosmetics is today the highest quality recognition of tens of millions of men and women in the world.
            {% endblocktrans %}
            <div class="welcome1">
                {% trans 'Try Oriflame today...' %}
            </div>
        </article>
    </div>
</section>

<section id="content">
    <h2>{% trans 'Catalogue' %} <span class="num">{{ catalogue_item.number }}</span>&nbsp;&nbsp;<span class="date">({{ catalogue_item.date_from|date:"d M Y" }} - {{ catalogue_item.date_to|date:"d M Y" }})</span></h2>
    <div id="custom-menu" class="b-menu"></div>

    <div class="clear"></div>

    <div id="book">
        <div id="{% trans 'mybook_en' %}" class="book_page_container">
            {% for page in catalogue_item.page_set.all %}
            <div>
                <a href="{% if forloop.first %}{{ page.image.url }}{% endif %}" data-href="{{ page.image.url }}" class='cloud-zoom' id='zoom1'
                rel="adjustX: 0, adjustY:0,  position:'inside', showTitle:false,smoothMove:3">
                    <img src="{% if forloop.first %}{{ page.image.url }}{% endif %}" alt='' title="Optional title display" />
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
