{% extends "base.html" %}
{% load i18n %}

{% block content %}
<section id="content">
    <h2 class="head">{% trans "Message was send successfully" %}</h2>

    <div class="tekst">
        <article><span class="important">{% trans "In next few days/hours, you recive an e-mail with further information." %}</span></article>
    </div>
</section>
{% endblock %}